In [1]:
import os
from google.oauth2 import service_account
from google.cloud import bigquery
import pandas as pd
import json
import ast
import numpy as np
import plotly.express as px

import requests
import pandas as pd
from bs4 import BeautifulSoup
from google.cloud import bigquery
from datetime import datetime
from tqdm import tqdm
import time
client = bigquery.Client(project = 'datamachine-407200')
pd.set_option('display.max_columns', 500)

In [2]:
test_ = "{   \"type\": \"service_account\",   \"project_id\": \"datamachine-407200\",   \"private_key_id\": \"414d2e4e95eeee8ca69747ce46f2b9c3c1a7015c\",   \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCeBRYhWxEfSCo8\\n3+KKsiLdzSmOhvMZlRqtYrTzV2MWwQupx03z2VY8552KkVUjj2OUhPqgjed9mky2\\nblwSwrg4s0/bBvHtZHj4eJhiXevVsjLwqt5ZbX1ZMf/yIcay3yXdgwxbjl/dOmgR\\nN9NdPX5oG0+IuevoIKxpRuAXWUJGBrRN0/xWF0vvb9Vyp5DuCb+YmLbB+v2Ei9Rl\\ndOHEtEvfctEvPduaDvQLE5ARfuTUhFYBCWYlneRQLttD+ooAgrMPpDN59yuRue8o\\nYYgEm8Lj//M6i5PoFHU+aabcpiHDVnaU3RB8B8ZNt4WPQZP8KxNr8HIt4T6rDylg\\nUjl1wW3PAgMBAAECggEARf2yw6t2dgiczMHNsekdEGkjEwIrAxXL7yhdRbtbJGT1\\nKYohuPR3AhsE6K9eqpWEYfBUonC4LCX//H39QkIFHvgtUrJMzf1Gp6eit08qekin\\nz3mfarTYZH2FBFZ5kBjOyMKW4qa5R1/rYFT9xbrLFomiPMk8+GAgfbDq6OycMi9r\\nU3hZTxtTVac3vgVva+JyZK6uhYQJYxn6mIfGVXvUUHChglzzb47DYr/4wQM+lwD5\\nTGeD/a+JJRNRvF1wIkdf/tCSIug0+1SmSfLn0pGEZLh8ovqI9u6IQUnTjOrVJy1O\\nBe4uiBPeVZkRQoLsIXD0/mBpOT0B+5auPv/o2ftYwQKBgQDZHfvyJrkpiZPe/ABq\\nVhrWRImWmxvdLJB8KYlzQTYDkm66wgG62U/jOqJ/fM3Y5RRErJXmCjReacWX1u1k\\nag8nnJMpZ/ij7XCGSP+CEYhIIU6ZJ6ChTKT102+kbgE6BFoGPbl8eywW5hj3/E+e\\neu9Lmf+R2M/jfsLa8GsP9r1LiQKBgQC6UbZGBLaM7HN2SzeqO6JOeR/+ozuzdBE8\\nfBoBo9KTrxNhXMZBBrcROWTvIVaRA01aaQKT2eiHKiM3FQJQBw69hcIMHvSMMktw\\n/51psqZYB2c5crM/Nt4GhxLNJAyQYl0583tOYiEEX1WuqrhCTE87SQVyJmCqAqGE\\niT9jr3LglwKBgQC4/RownRvAr27lW7OC5rBhBe5w+uGH1jOZBs8M+2/pJTfhOfG9\\nYPD3O3s+wnilJ7HYPXBOmz05gEeR8tc7aj5VUsv0SJkKGwF3+PRyvzttsatFRQVQ\\nyXv309nYsL2s0A5gKPFEhbHwJMb7a+fusPH4aVLe0mt2ewfNAXFHHcT1eQKBgAYx\\n31CWqYcn+XLOb2xejTf0uQabYMnHqycKrUaurrqwUIGlNwZEdePBt8RnpFwv8ut1\\noFtQHHYaBY+4SBpnEatlfh0vDkx3A6EfLpmsEfHNVTZIxQLuDRXEefCOKUjHrHfX\\ny5rAkn51uQCUtomlxeCfvemcswwUCFDCy3PCCpzDAoGBALIpq8nIKdpukk/7SFhp\\n4+l1oUgW8XRGv6hpYX4Y5pBsjCJi+hYz9y8UGN2ExAYKSYfzteQRkscPlgQ/J+Go\\neJkzIfNVNepY7gI5n5qc5DVXU6G/6Bm9KZEWAMoDiBj54PkXotnwtEoRcKQG5Vt9\\nlDXXvnxzpH1j//x9BSZFZktt\\n-----END PRIVATE KEY-----\\n\",   \"client_email\": \"streamlit-datamachine@datamachine-407200.iam.gserviceaccount.com\",   \"client_id\": \"101039704290156623568\",   \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",   \"token_uri\": \"https://oauth2.googleapis.com/token\",   \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",   \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/streamlit-datamachine%40datamachine-407200.iam.gserviceaccount.com\",   \"universe_domain\": \"googleapis.com\" }"
json_ = ast.literal_eval(json.dumps(json.JSONDecoder().decode(test_)))

credentials = service_account.Credentials.from_service_account_info(json_)
client = bigquery.Client(credentials=credentials)

def layoffs_fyi():
    sql = '''  
    SELECT 
    date(date) as date,
    company,
    employees_laid_off,
    concat(cast(round(percent_laid_off*100,2) as string),"%") as percent_laid_off,
    datamachine_load_time
    FROM `datamachine-407200.macro.layoffs_fyi`
    WHERE datamachine_load_time = (select max(datamachine_load_time) from `datamachine-407200.macro.layoffs_fyi`)
    ORDER BY date desc
    '''
    df = client.query(sql).to_dataframe()
    df['employees_laid_off'] = df['employees_laid_off'].fillna('')
    return df
layoffs_fyi()

,date,company,employees_laid_off,percent_laid_off,datamachine_load_time
0,2024-08-14,Sonos,100.0,6%,2024-08-14 17:58:57.188918
1,2024-08-13,DayTwo,,100%,2024-08-14 17:58:57.188918
2,2024-08-12,Tally,,100%,2024-08-14 17:58:57.188918
3,2024-08-09,Cisco,5900.0,7%,2024-08-14 17:58:57.188918
4,2024-08-09,iCIMS,,None,2024-08-14 17:58:57.188918
...,...,...,...,...,...
3742,2020-03-16,Inspirato,130.0,22%,2024-08-14 17:58:57.188918
3743,2020-03-13,Panda Squad,6.0,75%,2024-08-14 17:58:57.188918
3744,2020-03-13,HopSkipDrive,8.0,10%,2024-08-14 17:58:57.188918
3745,2020-03-12,Tamara Mellon,20.0,40%,2024-08-14 17:58:57.188918
3746,2020-03-11,EasyPost,75.0,None,2024-08-14 17:58:57.188918

In [3]:
def loopnet_usd_sqft():
    try:
        sql = '''
        select * from `datamachine-407200.commercial_real_estate.loopnet_agg`
        '''
        with bigquery.Client(credentials=credentials) as client:
            data = client.query(sql).to_dataframe()
            data['sum_min_size_sqft'] = data['sum_min_size_sqft'].astype(float).replace({0: np.NaN})
            data['avg_usd_sqft_yr'] = data['avg_usd_sqft_yr'].astype(float).replace({0: np.NaN})
            data['avg_usd_yr'] = data['avg_usd_yr'].astype(float).replace({0: np.NaN})
            data['datamachine_load_time'] = pd.to_datetime(data['datamachine_load_time'])
            data = data.drop_duplicates()
            df = data.groupby(['formatted_address','datamachine_load_time'])['avg_usd_sqft_yr'].last().reset_index().pivot(index='datamachine_load_time', columns='formatted_address', values='avg_usd_sqft_yr').resample('D').mean()
            df['average'] = df.mean(axis=1)
            df = df.bfill().transpose().dropna(axis=0).apply(lambda x: np.round(x,2))
            df.columns = df.columns.strftime('%Y-%m-%d')
            df = df.sort_values (by=df.columns[-1],ascending=False).reset_index()
            df = df.rename(columns={'formatted_address':'address'})
            df = df.set_index('address')
        return df
    except Exception as e:
        return str(e)

loopnet_usd_sqft()

datamachine_load_time,2024-02-27,2024-02-28,2024-02-29,2024-03-01,2024-03-02,2024-03-03,2024-03-04,2024-03-05,2024-03-06,2024-03-07,2024-03-08,2024-03-09,2024-03-10,2024-03-11,2024-03-12,2024-03-13,2024-03-14,2024-03-15,2024-03-16,2024-03-17,2024-03-18,2024-03-19,2024-03-20,2024-03-21,2024-03-22,2024-03-23,2024-03-24,2024-03-25,2024-03-26,2024-03-27,2024-03-28,2024-03-29,2024-03-30,2024-03-31,2024-04-01,2024-04-02,2024-04-03,2024-04-04,2024-04-05,2024-04-06,2024-04-07,2024-04-08,2024-04-09,2024-04-10,2024-04-11,2024-04-12,2024-04-13,2024-04-14,2024-04-15,2024-04-16,2024-04-17,2024-04-18,2024-04-19,2024-04-20,2024-04-21,2024-04-22,2024-04-23,2024-04-24,2024-04-25,2024-04-26,2024-04-27,2024-04-28,2024-04-29,2024-04-30,2024-05-01,2024-05-02,2024-05-03,2024-05-04,2024-05-05,2024-05-06,2024-05-07,2024-05-08,2024-05-09,2024-05-10,2024-05-11,2024-05-12,2024-05-13,2024-05-14,2024-05-15,2024-05-16,2024-05-17,2024-05-18,2024-05-19,2024-05-20,2024-05-21,2024-05-22,2024-05-23,2024-05-24,2024-05-25,2024-05-26,2024-05-27,2024-05-28,2024-05-29,2024-05-30,2024-05-31,2024-06-01,2024-06-02,2024-06-03,2024-06-04,2024-06-05,2024-06-06,2024-06-07,2024-06-08,2024-06-09,2024-06-10,2024-06-11,2024-06-12,2024-06-13,2024-06-14,2024-06-15,2024-06-16,2024-06-17,2024-06-18,2024-06-19,2024-06-20,2024-06-21,2024-06-22,2024-06-23,2024-06-24,2024-06-25,2024-06-26,2024-06-27,2024-06-28,2024-06-29,2024-06-30,2024-07-01,2024-07-02,2024-07-03,2024-07-04,2024-07-05,2024-07-06,2024-07-07,2024-07-08,2024-07-09,2024-07-10,2024-07-11,2024-07-12,2024-07-13,2024-07-14,2024-07-15,2024-07-16,2024-07-17,2024-07-18,2024-07-19,2024-07-20,2024-07-21,2024-07-22,2024-07-23
address,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
"1100 Madison Ave, New York, NY 10028, USA",379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45
"23 Prince St, New York, NY 10012, USA",320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00
"306 Bleecker St, New York, NY 10014, USA",313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00,313.00
"199 Avenue A, New York, NY 10009, USA",260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00,260.00
"2581 Broadway, New York, NY 10025, USA",250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"2004 New York Ave, Union City, NJ 07087, USA",15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00
"36-14 11th St, Astoria, NY 11106, USA",24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60,12.60
"22-14 40th Ave, Long Island City, NY 11101, USA",12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,10.00,10.00,10.00,10.00,9.00,9.00,9.00,9.00,9.00,9.00,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,8.75,12.00,11.00,11.00,11.00,11.00,11.00
"33-00 47th Ave, Long Island City, NY 11101, USA",18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,18.00,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50,10.50
"49 Franklin St, Brooklyn, NY 11222, USA",6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40,6.40

In [3]:
def loopnet_sqft():
    try:
        sql = '''
        select * from `datamachine-407200.commercial_real_estate.loopnet_agg`
        '''
        with bigquery.Client(credentials=credentials) as client:
            data = client.query(sql).to_dataframe()
            data['sum_min_size_sqft'] = data['sum_min_size_sqft'].astype(float).replace({0: np.NaN})
            data['avg_usd_sqft_yr'] = data['avg_usd_sqft_yr'].astype(float).replace({0: np.NaN})
            data['avg_usd_yr'] = data['avg_usd_yr'].astype(float).replace({0: np.NaN})
            data['datamachine_load_time'] = pd.to_datetime(data['datamachine_load_time'])
            data = data.drop_duplicates()
            df = data.groupby(['formatted_address','datamachine_load_time'])['sum_min_size_sqft'].last().reset_index().pivot(index='datamachine_load_time', columns='formatted_address', values='sum_min_size_sqft').resample('D').mean()
            df['average'] = df.mean(axis=1)
            df = df.bfill().transpose().dropna(axis=0).apply(lambda x: np.round(x,2))
            df.columns = df.columns.strftime('%Y-%m-%d')
            df = df.sort_values (by=df.columns[-1],ascending=False).reset_index()
            df = df.rename(columns={'formatted_address':'address'})
            df = df.set_index('address')
            # df['lifetime_diff'] = df[df.columns[-1]] - df[df.columns[0]]
            # df['diff_latest'] = df[df.columns[-2]] - df[df.columns[-3]]
        return df
    except Exception as e:
        return str(e)
    
df = loopnet_sqft()
df
# df.head(50).sort_values(by='lifetime_diff',ascending=True)

datamachine_load_time,2024-02-27,2024-02-28,2024-02-29,2024-03-01,2024-03-02,2024-03-03,2024-03-04,2024-03-05,2024-03-06,2024-03-07,2024-03-08,2024-03-09,2024-03-10,2024-03-11,2024-03-12,2024-03-13,2024-03-14,2024-03-15,2024-03-16,2024-03-17,2024-03-18,2024-03-19,2024-03-20,2024-03-21,2024-03-22,2024-03-23,2024-03-24,2024-03-25,2024-03-26,2024-03-27,2024-03-28,2024-03-29,2024-03-30,2024-03-31,2024-04-01,2024-04-02,2024-04-03,2024-04-04,2024-04-05,2024-04-06,2024-04-07,2024-04-08,2024-04-09,2024-04-10,2024-04-11,2024-04-12,2024-04-13,2024-04-14,2024-04-15,2024-04-16,2024-04-17,2024-04-18,2024-04-19,2024-04-20,2024-04-21,2024-04-22,2024-04-23,2024-04-24,2024-04-25,2024-04-26,2024-04-27,2024-04-28,2024-04-29,2024-04-30,2024-05-01,2024-05-02,2024-05-03,2024-05-04,2024-05-05,2024-05-06,2024-05-07,2024-05-08,2024-05-09,2024-05-10,2024-05-11,2024-05-12,2024-05-13,2024-05-14,2024-05-15,2024-05-16,2024-05-17,2024-05-18,2024-05-19,2024-05-20,2024-05-21,2024-05-22,2024-05-23,2024-05-24,2024-05-25,2024-05-26,2024-05-27,2024-05-28,2024-05-29,2024-05-30,2024-05-31,2024-06-01,2024-06-02,2024-06-03,2024-06-04,2024-06-05,2024-06-06,2024-06-07,2024-06-08,2024-06-09,2024-06-10,2024-06-11,2024-06-12,2024-06-13,2024-06-14,2024-06-15,2024-06-16,2024-06-17,2024-06-18,2024-06-19,2024-06-20,2024-06-21,2024-06-22,2024-06-23,2024-06-24,2024-06-25,2024-06-26,2024-06-27,2024-06-28,2024-06-29,2024-06-30,2024-07-01,2024-07-02,2024-07-03,2024-07-04,2024-07-05,2024-07-06,2024-07-07,2024-07-08,2024-07-09,2024-07-10,2024-07-11,2024-07-12,2024-07-13,2024-07-14,2024-07-15,2024-07-16,2024-07-17,2024-07-18,2024-07-19,2024-07-20,2024-07-21,2024-07-22,2024-07-23,2024-07-24,2024-07-25,2024-07-26,2024-07-27,2024-07-28,2024-07-29,2024-07-30,2024-07-31,2024-08-01,2024-08-02,2024-08-03,2024-08-04,2024-08-05,2024-08-06,2024-08-07,2024-08-08,2024-08-09,2024-08-10,2024-08-11,2024-08-12,2024-08-13
address,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
"30th St, Queens, NY, USA",717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0
"3 Times Sq, New York, NY 10036, USA",362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0
"300 Kent Ave, Brooklyn, NY 11249, USA",355143.0,353674.0,353674.0,353674.0,353674.0,353674.0,353674.0,353674.0,353674.0,353674.0,353674.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,354220.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,315099.0,312638.0,312638.0,312638.0,312638.0,312638.0,312638.0,312638.0,312638.0,312638.0,312638.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,308484.0,306044.0,306044.0,306044.0,306044.0,306044.0,306044.0,302787.0,302787.0,302787.0,302787.0,302787.0,302787.0,302787.0,302787.0,302787.0,302787.0,302787.0,302787.0,333595.0,333595.0,333595.0,333595.0,333595.0,333595.0,333595.0,333595.0,333595.0,333595.0,330381.0,330381.0,330381.0,330381.0,330381.0,330381.0,330381.0,294979.0,290299.0,290299.0,290299.0,290299.0,290299.0,290299.0,290422.0,290422.0,290422.0,290422.0,290422.0,290422.0,290422.0,290422.0
"3 2nd St, Jersey City, NJ 07302, USA",119611.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,167861.0,167861.0,167861.0,167861.0,167861.0,167861.0
"250 Broadway, New York, NY 10007, USA",154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"75 Broad St, New York, NY 10004, USA",125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0
"666 3rd Ave, New York, NY 10017, USA",100.0,116268.0,116268.0,116268.0,116268.0,116268.0,116268.0,116268.0,116268.0,116268.0,121735.0,121735.0,121735.0,121735.0,121735.0,121735.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0
"89 Bartlett St, Brooklyn, NY 11206, USA",100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
"360 Wythe Ave, Brooklyn, NY 11249, USA",57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0
"150 Greenwich St, New York, NY 10006, USA",50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0

In [4]:
df_r = df.reset_index()
kent = df_r[df_r['address'] == '300 Kent Ave, Brooklyn, NY 11249, USA'].set_index('address').transpose()
fig = px.line(kent, x=kent.index, y=kent['300 Kent Ave, Brooklyn, NY 11249, USA'], width=800, height=600, title='300 Kent Ave, Brooklyn, NY 11249, USA')

fig.update_layout(
    margin=dict(l=20, r=20, t=40, b=20),
    xaxis_title='',
    yaxis_title='',
    legend_title_text='',
    yaxis = dict(tickfont = dict(size=16)),
    xaxis = dict(tickfont = dict(size=16)),
    font=dict(family='Helvetica'),
    font_color='black'

)

fig.update_traces(line_width=3)

fig.show()