In [4]:
import os
from google.oauth2 import service_account
from google.cloud import bigquery
import pandas as pd
import json
import ast
import numpy as np

In [5]:
test_ = "{   \"type\": \"service_account\",   \"project_id\": \"datamachine-407200\",   \"private_key_id\": \"414d2e4e95eeee8ca69747ce46f2b9c3c1a7015c\",   \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCeBRYhWxEfSCo8\\n3+KKsiLdzSmOhvMZlRqtYrTzV2MWwQupx03z2VY8552KkVUjj2OUhPqgjed9mky2\\nblwSwrg4s0/bBvHtZHj4eJhiXevVsjLwqt5ZbX1ZMf/yIcay3yXdgwxbjl/dOmgR\\nN9NdPX5oG0+IuevoIKxpRuAXWUJGBrRN0/xWF0vvb9Vyp5DuCb+YmLbB+v2Ei9Rl\\ndOHEtEvfctEvPduaDvQLE5ARfuTUhFYBCWYlneRQLttD+ooAgrMPpDN59yuRue8o\\nYYgEm8Lj//M6i5PoFHU+aabcpiHDVnaU3RB8B8ZNt4WPQZP8KxNr8HIt4T6rDylg\\nUjl1wW3PAgMBAAECggEARf2yw6t2dgiczMHNsekdEGkjEwIrAxXL7yhdRbtbJGT1\\nKYohuPR3AhsE6K9eqpWEYfBUonC4LCX//H39QkIFHvgtUrJMzf1Gp6eit08qekin\\nz3mfarTYZH2FBFZ5kBjOyMKW4qa5R1/rYFT9xbrLFomiPMk8+GAgfbDq6OycMi9r\\nU3hZTxtTVac3vgVva+JyZK6uhYQJYxn6mIfGVXvUUHChglzzb47DYr/4wQM+lwD5\\nTGeD/a+JJRNRvF1wIkdf/tCSIug0+1SmSfLn0pGEZLh8ovqI9u6IQUnTjOrVJy1O\\nBe4uiBPeVZkRQoLsIXD0/mBpOT0B+5auPv/o2ftYwQKBgQDZHfvyJrkpiZPe/ABq\\nVhrWRImWmxvdLJB8KYlzQTYDkm66wgG62U/jOqJ/fM3Y5RRErJXmCjReacWX1u1k\\nag8nnJMpZ/ij7XCGSP+CEYhIIU6ZJ6ChTKT102+kbgE6BFoGPbl8eywW5hj3/E+e\\neu9Lmf+R2M/jfsLa8GsP9r1LiQKBgQC6UbZGBLaM7HN2SzeqO6JOeR/+ozuzdBE8\\nfBoBo9KTrxNhXMZBBrcROWTvIVaRA01aaQKT2eiHKiM3FQJQBw69hcIMHvSMMktw\\n/51psqZYB2c5crM/Nt4GhxLNJAyQYl0583tOYiEEX1WuqrhCTE87SQVyJmCqAqGE\\niT9jr3LglwKBgQC4/RownRvAr27lW7OC5rBhBe5w+uGH1jOZBs8M+2/pJTfhOfG9\\nYPD3O3s+wnilJ7HYPXBOmz05gEeR8tc7aj5VUsv0SJkKGwF3+PRyvzttsatFRQVQ\\nyXv309nYsL2s0A5gKPFEhbHwJMb7a+fusPH4aVLe0mt2ewfNAXFHHcT1eQKBgAYx\\n31CWqYcn+XLOb2xejTf0uQabYMnHqycKrUaurrqwUIGlNwZEdePBt8RnpFwv8ut1\\noFtQHHYaBY+4SBpnEatlfh0vDkx3A6EfLpmsEfHNVTZIxQLuDRXEefCOKUjHrHfX\\ny5rAkn51uQCUtomlxeCfvemcswwUCFDCy3PCCpzDAoGBALIpq8nIKdpukk/7SFhp\\n4+l1oUgW8XRGv6hpYX4Y5pBsjCJi+hYz9y8UGN2ExAYKSYfzteQRkscPlgQ/J+Go\\neJkzIfNVNepY7gI5n5qc5DVXU6G/6Bm9KZEWAMoDiBj54PkXotnwtEoRcKQG5Vt9\\nlDXXvnxzpH1j//x9BSZFZktt\\n-----END PRIVATE KEY-----\\n\",   \"client_email\": \"streamlit-datamachine@datamachine-407200.iam.gserviceaccount.com\",   \"client_id\": \"101039704290156623568\",   \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",   \"token_uri\": \"https://oauth2.googleapis.com/token\",   \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",   \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/streamlit-datamachine%40datamachine-407200.iam.gserviceaccount.com\",   \"universe_domain\": \"googleapis.com\" }"
json_ = ast.literal_eval(json.dumps(json.JSONDecoder().decode(test_)))

credentials = service_account.Credentials.from_service_account_info(json_)
client = bigquery.Client(credentials=credentials)

def layoffs_fyi():
    sql = '''  
    SELECT 
    date(date) as date,
    company,
    employees_laid_off,
    concat(cast(round(percent_laid_off*100,2) as string),"%") as percent_laid_off,
    datamachine_load_time
    FROM `datamachine-407200.macro.layoffs_fyi`
    WHERE datamachine_load_time = (select max(datamachine_load_time) from `datamachine-407200.macro.layoffs_fyi`)
    ORDER BY date desc
    '''
    df = client.query(sql).to_dataframe()
    df['employees_laid_off'] = df['employees_laid_off'].fillna('')
    return df
layoffs_fyi()

,date,company,employees_laid_off,percent_laid_off,datamachine_load_time
0,2024-04-15,Tesla,14000.0,10%,2024-04-16 08:54:57.969752
1,2024-04-12,Glovo,25.0,None,2024-04-16 08:54:57.969752
2,2024-04-12,Criteo,140.0,4%,2024-04-16 08:54:57.969752
3,2024-04-11,Hinge Health,,10%,2024-04-16 08:54:57.969752
4,2024-04-11,Zoe,,20%,2024-04-16 08:54:57.969752
...,...,...,...,...,...
3555,2020-03-16,Inspirato,130.0,22%,2024-04-16 08:54:57.969752
3556,2020-03-13,Panda Squad,6.0,75%,2024-04-16 08:54:57.969752
3557,2020-03-13,HopSkipDrive,8.0,10%,2024-04-16 08:54:57.969752
3558,2020-03-12,Tamara Mellon,20.0,40%,2024-04-16 08:54:57.969752
3559,2020-03-11,EasyPost,75.0,None,2024-04-16 08:54:57.969752

In [53]:
def loopnet_usd_sqft():
    try:
        sql = '''
        select * from `datamachine-407200.commercial_real_estate.loopnet_agg`
        '''
        with bigquery.Client(credentials=credentials) as client:
            data = client.query(sql).to_dataframe()
            data['sum_min_size_sqft'] = data['sum_min_size_sqft'].astype(float).replace({0: np.NaN})
            data['avg_usd_sqft_yr'] = data['avg_usd_sqft_yr'].astype(float).replace({0: np.NaN})
            data['avg_usd_yr'] = data['avg_usd_yr'].astype(float).replace({0: np.NaN})
            data['datamachine_load_time'] = pd.to_datetime(data['datamachine_load_time'])
            data = data.drop_duplicates()
            df = data.groupby(['formatted_address','datamachine_load_time'])['avg_usd_sqft_yr'].last().reset_index().pivot(index='datamachine_load_time', columns='formatted_address', values='avg_usd_sqft_yr').resample('D').mean()
            df['average'] = df.mean(axis=1)
            df = df.bfill().transpose().dropna(axis=0).apply(lambda x: np.round(x,2))
            df.columns = df.columns.strftime('%Y-%m-%d')
            df = df.sort_values (by=df.columns[-1],ascending=False).reset_index()
            df = df.rename(columns={'formatted_address':'address'})
            df = df.set_index('address')
        return df
    except Exception as e:
        return str(e)

loopnet_usd_sqft()

"''"

In [13]:
def loopnet_sqft():
    try:
        sql = '''
        select * from `datamachine-407200.commercial_real_estate.loopnet_agg`
        '''
        with bigquery.Client(credentials=credentials) as client:
            data = client.query(sql).to_dataframe()
            data['sum_min_size_sqft'] = data['sum_min_size_sqft'].astype(float).replace({0: np.NaN})
            data['avg_usd_sqft_yr'] = data['avg_usd_sqft_yr'].astype(float).replace({0: np.NaN})
            data['avg_usd_yr'] = data['avg_usd_yr'].astype(float).replace({0: np.NaN})
            data['datamachine_load_time'] = pd.to_datetime(data['datamachine_load_time'])
            data = data.drop_duplicates()
            df = data.groupby(['formatted_address','datamachine_load_time'])['sum_min_size_sqft'].last().reset_index().pivot(index='datamachine_load_time', columns='formatted_address', values='sum_min_size_sqft').resample('D').mean()
            df['average'] = df.mean(axis=1)
            df = df.bfill().transpose().dropna(axis=0).apply(lambda x: np.round(x,2))
            df.columns = df.columns.strftime('%Y-%m-%d')
            df = df.sort_values (by=df.columns[-1],ascending=False).reset_index()
            df = df.rename(columns={'formatted_address':'address'})
            df = df.set_index('address')
            df['lifetime_diff'] = df[df.columns[-1]] - df[df.columns[0]]
            df['diff_latest'] = df[df.columns[-2]] - df[df.columns[-3]]
        return df
    except Exception as e:
        return str(e)
    
df = loopnet_sqft()

In [16]:
df.head(50).sort_values(by='diff_latest',ascending=True)

datamachine_load_time,2024-02-27,2024-02-28,2024-02-29,2024-03-01,2024-03-02,2024-03-03,2024-03-04,2024-03-05,2024-03-06,2024-03-07,...,2024-04-23,2024-04-24,2024-04-25,2024-04-26,2024-04-27,2024-04-28,2024-04-29,2024-04-30,lifetime_diff,diff_latest
address,,,,,,,,,,,,,,,,,,,,,
"Starrett-Lehigh Building, 601 W 26th St, New York, NY 10001, USA",674657.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,...,731954.0,731954.0,731954.0,731954.0,731954.0,731954.0,731954.0,731954.0,57297.0,0.0
"21-07 41st Ave, Long Island City, NY 11101, USA",38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,...,46610.0,46610.0,61610.0,61610.0,61610.0,61610.0,61610.0,61610.0,23544.0,0.0
"33-00 47th Ave, Long Island City, NY 11101, USA",55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,...,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,0.0,0.0
"1001 6th Ave, New York, NY 10018, USA",54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,...,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,0.0,0.0
"30 W 26th St, New York, NY 10010, USA",51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,...,51444.0,51444.0,51444.0,51444.0,51444.0,51444.0,51444.0,51444.0,-100.0,0.0
"40-9 21st St, Long Island City, NY 11101, USA",48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,...,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,0.0,0.0
"156 5th Ave, New York, NY 10010, USA",42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,...,50600.0,50600.0,50600.0,48100.0,48100.0,48100.0,48100.0,48100.0,6000.0,0.0
"667 Madison Ave, New York, NY 10065, USA",42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,...,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,0.0,0.0
"300 Park Ave, New York, NY 10022, USA",74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,...,42120.0,42120.0,42120.0,42120.0,42120.0,42120.0,42120.0,42120.0,-32250.0,0.0
"41 E 11th St, New York, NY 10003, USA",40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,...,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,0.0,0.0
"6 W 48th St, New York, NY 10036, USA",49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,...,38500.0,38500.0,38500.0,38500.0,38500.0,38500.0,38500.0,38500.0,-11000.0,0.0
"333 W 52nd St, New York, NY 10019, USA",37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,...,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,0.0,0.0
"33-22 Northern Blvd, Long Island City, NY 11101, USA",35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,...,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,0.0,0.0
"159 E 125th St, New York, NY 10035, USA",26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,...,34853.0,34853.0,34853.0,34853.0,34853.0,34853.0,34853.0,34853.0,8827.0,0.0
"251 W 30th St, New York, NY 10001, USA",36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,...,33789.0,33789.0,33789.0,33789.0,33789.0,33789.0,33789.0,33789.0,-2715.0,0.0
"One Battery Park Plaza, 1 Battery Pl, New York, NY 10004, USA",40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,...,32142.0,32142.0,32142.0,32142.0,32142.0,32142.0,32142.0,32142.0,-8335.0,0.0
"115 E 23rd St, New York, NY 10010, USA",36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,...,30700.0,30700.0,30700.0,30700.0,30700.0,30700.0,30700.0,30700.0,-6140.0,0.0
"433 Broadway, New York, NY 10013, USA",22275.0,22275.0,22275.0,23075.0,23075.0,23075.0,23075.0,23075.0,23075.0,23075.0,...,30575.0,30575.0,30575.0,30575.0,30575.0,30575.0,30575.0,30575.0,8300.0,0.0
"548 W 28th St, New York, NY 10001, USA",29489.0,28590.0,28590.0,28590.0,28590.0,28590.0,28590.0,28590.0,28590.0,28590.0,...,28590.0,28590.0,28590.0,28590.0,28590.0,28590.0,28590.0,28590.0,-899.0,0.0
"315 Madison Ave, New York, NY 10017, USA",20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,...,28558.0,28558.0,28558.0,28558.0,28558.0,28558.0,28558.0,28558.0,7578.0,0.0
"15 Maiden Ln, New York, NY 10038, USA",19985.0,19985.0,19985.0,17600.0,17600.0,17600.0,17600.0,17600.0,17600.0,17600.0,...,27805.0,27805.0,27805.0,27805.0,27805.0,27805.0,27805.0,27805.0,7820.0,0.0
"501 5th Ave, New York, NY 10017, USA",26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,...,27292.0,27292.0,27292.0,27292.0,27292.0,27292.0,27292.0,27292.0,845.0,0.0
"Broadway & W 233rd St, Bronx, NY 10463, USA",61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,...,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,0.0,0.0
"250 W 39th St, New York, NY 10018, USA",55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,...,32078.0,60303.0,62768.0,63562.0,63562.0,63562.0,63562.0,63562.0,8124.0,0.0
"65 E 55th St, New York, NY 10022, USA",65508.0,65508.0,65508.0,65508.0,65508.0,65508.0,65508.0,65508.0,65508.0,65508.0,...,65508.0,65508.0,65508.0,65508.0,65508.0,65508.0,65508.0,65508.0,0.0,0.0
"33-02 Skillman Ave, Long Island City, NY 11101, USA",77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,...,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,0.0,0.0
"30th St, Queens, NY, USA",717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,...,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,-82105.0,0.0
"135 W 50th St, New York, NY 10020, USA",588757.0,588757.0,588757.0,588757.0,588757.0,588757.0,588757.0,588757.0,588757.0,588757.0,...,588757.0,588757.0,588757.0,588757.0,588757.0,588757.0,588757.0,588757.0,0.0,0.0
"3 Times Sq, New York, NY 10036, USA",362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,...,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,0.0,0.0
"300 Kent Ave, Brooklyn, NY 11249, USA",355143.0,353674.0,353674.0,353674.0,353674.0,353674.0,353674.0,353674.0,353674.0,353674.0,...,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,345183.0,-9960.0,0.0
"340 Madison Ave, New York, NY 10173, USA",288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,...,276239.0,276239.0,276239.0,276239.0,276239.0,276239.0,276239.0,276239.0,-12459.0,0.0
"32 Old Slip, New York, NY 10005, USA",202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,...,199235.0,199235.0,199235.0,199235.0,199235.0,199235.0,199235.0,199235.0,-3667.0,0.0
"3 2nd St, Jersey City, NJ 07302, USA",119611.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,...,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,36396.0,0.0
"250 Broadway, New York, NY 10007, USA",154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,...,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,0.0,0.0
"225 Broadway, New York, NY 10007, USA",145192.0,133047.0,133047.0,133047.0,133047.0,133047.0,144817.0,144817.0,144817.0,144817.0,...,144817.0,144817.0,144817.0,144817.0,144817.0,144817.0,144817.0,144817.0,-375.0,0.0
"285 Fulton St, New York, NY 10007, USA",143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,...,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,0.0,0.0
"113 University Pl, New York, NY 10003, USA",19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,...,26000.0,26000.0,26000.0,26000.0,26000.0,26000.0,26000.0,26000.0,6500.0,0.0
"161 6th Ave, New York, NY 10013, USA",30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,...,139400.0,139400.0,139400.0,139400.0,139400.0,139400.0,139400.0,139400.0,109336.0,0.0
"75 Rockefeller Plaza, 75 Rockefeller Plaza, New York, NY 10104, USA",126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,...,126825.0,126825.0,126825.0,126825.0,126825.0,126825.0,126825.0,126825.0,36.0,0.0
"42 Broadway, New York, NY 10004, USA",114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,...,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,0.0,0.0
"29 Broadway, New York, NY 10006, USA",109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,...,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,0.0,0.0
"39 Broadway, New York, NY 10006, USA",97953.0,97953.0,97953.0,97953.0,97953.0,97953.0,97953.0,97953.0,101597.0,101597.0,...,104628.0,104628.0,104628.0,104628.0,104628.0,104628.0,104628.0,104628.0,6675.0,0.0
"122 E 42nd St, New York, NY 10168, USA",102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,...,101787.0,101787.0,101787.0,101787.0,101787.0,101787.0,101787.0,101787.0,-451.0,0.0
"150 W 30th St, New York, NY 10001, USA",96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,...,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,0.0,0.0
"230 Park Ave, New York, NY 10169, USA",96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,...,94944.0,94944.0,94944.0,94944.0,94944.0,94944.0,94944.0,94944.0,-1732.0,0.0
"107 Greenwich St, New York, NY 10006, USA",81051.0,81051.0,81051.0,81051.0,81051.0,81051.0,81051.0,81051.0,81051.0,81051.0,...,81051.0,81051.0,81051.0,81051.0,81051.0,81051.0,81051.0,81051.0,0.0,0.0
"521 W 57th St, New York, NY 10019, USA",78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,...,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,0.0,0.0
"111 John St, New York, NY 10038, USA",83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,...,77146.0,77146.0,77146.0,77146.0,77146.0,77146.0,77146.0,77146.0,-6090.0,0.0
"1270 6th Ave, New York, NY 10020, USA",138302.0,138302.0,138302.0,138302.0,138302.0,138302.0,138302.0,138302.0,138302.0,140473.0,...,138824.0,138824.0,138824.0,138824.0,138824.0,138824.0,138824.0,138824.0,522.0,0.0
"37-18 Northern Blvd, Long Island City, NY 11101, USA",25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,...,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,0.0,0.0