In [1]:
import os
from google.oauth2 import service_account
from google.cloud import bigquery
import pandas as pd
import json
import ast
import numpy as np

In [2]:
test_ = "{   \"type\": \"service_account\",   \"project_id\": \"datamachine-407200\",   \"private_key_id\": \"414d2e4e95eeee8ca69747ce46f2b9c3c1a7015c\",   \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCeBRYhWxEfSCo8\\n3+KKsiLdzSmOhvMZlRqtYrTzV2MWwQupx03z2VY8552KkVUjj2OUhPqgjed9mky2\\nblwSwrg4s0/bBvHtZHj4eJhiXevVsjLwqt5ZbX1ZMf/yIcay3yXdgwxbjl/dOmgR\\nN9NdPX5oG0+IuevoIKxpRuAXWUJGBrRN0/xWF0vvb9Vyp5DuCb+YmLbB+v2Ei9Rl\\ndOHEtEvfctEvPduaDvQLE5ARfuTUhFYBCWYlneRQLttD+ooAgrMPpDN59yuRue8o\\nYYgEm8Lj//M6i5PoFHU+aabcpiHDVnaU3RB8B8ZNt4WPQZP8KxNr8HIt4T6rDylg\\nUjl1wW3PAgMBAAECggEARf2yw6t2dgiczMHNsekdEGkjEwIrAxXL7yhdRbtbJGT1\\nKYohuPR3AhsE6K9eqpWEYfBUonC4LCX//H39QkIFHvgtUrJMzf1Gp6eit08qekin\\nz3mfarTYZH2FBFZ5kBjOyMKW4qa5R1/rYFT9xbrLFomiPMk8+GAgfbDq6OycMi9r\\nU3hZTxtTVac3vgVva+JyZK6uhYQJYxn6mIfGVXvUUHChglzzb47DYr/4wQM+lwD5\\nTGeD/a+JJRNRvF1wIkdf/tCSIug0+1SmSfLn0pGEZLh8ovqI9u6IQUnTjOrVJy1O\\nBe4uiBPeVZkRQoLsIXD0/mBpOT0B+5auPv/o2ftYwQKBgQDZHfvyJrkpiZPe/ABq\\nVhrWRImWmxvdLJB8KYlzQTYDkm66wgG62U/jOqJ/fM3Y5RRErJXmCjReacWX1u1k\\nag8nnJMpZ/ij7XCGSP+CEYhIIU6ZJ6ChTKT102+kbgE6BFoGPbl8eywW5hj3/E+e\\neu9Lmf+R2M/jfsLa8GsP9r1LiQKBgQC6UbZGBLaM7HN2SzeqO6JOeR/+ozuzdBE8\\nfBoBo9KTrxNhXMZBBrcROWTvIVaRA01aaQKT2eiHKiM3FQJQBw69hcIMHvSMMktw\\n/51psqZYB2c5crM/Nt4GhxLNJAyQYl0583tOYiEEX1WuqrhCTE87SQVyJmCqAqGE\\niT9jr3LglwKBgQC4/RownRvAr27lW7OC5rBhBe5w+uGH1jOZBs8M+2/pJTfhOfG9\\nYPD3O3s+wnilJ7HYPXBOmz05gEeR8tc7aj5VUsv0SJkKGwF3+PRyvzttsatFRQVQ\\nyXv309nYsL2s0A5gKPFEhbHwJMb7a+fusPH4aVLe0mt2ewfNAXFHHcT1eQKBgAYx\\n31CWqYcn+XLOb2xejTf0uQabYMnHqycKrUaurrqwUIGlNwZEdePBt8RnpFwv8ut1\\noFtQHHYaBY+4SBpnEatlfh0vDkx3A6EfLpmsEfHNVTZIxQLuDRXEefCOKUjHrHfX\\ny5rAkn51uQCUtomlxeCfvemcswwUCFDCy3PCCpzDAoGBALIpq8nIKdpukk/7SFhp\\n4+l1oUgW8XRGv6hpYX4Y5pBsjCJi+hYz9y8UGN2ExAYKSYfzteQRkscPlgQ/J+Go\\neJkzIfNVNepY7gI5n5qc5DVXU6G/6Bm9KZEWAMoDiBj54PkXotnwtEoRcKQG5Vt9\\nlDXXvnxzpH1j//x9BSZFZktt\\n-----END PRIVATE KEY-----\\n\",   \"client_email\": \"streamlit-datamachine@datamachine-407200.iam.gserviceaccount.com\",   \"client_id\": \"101039704290156623568\",   \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",   \"token_uri\": \"https://oauth2.googleapis.com/token\",   \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",   \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/streamlit-datamachine%40datamachine-407200.iam.gserviceaccount.com\",   \"universe_domain\": \"googleapis.com\" }"
json_ = ast.literal_eval(json.dumps(json.JSONDecoder().decode(test_)))

credentials = service_account.Credentials.from_service_account_info(json_)
client = bigquery.Client(credentials=credentials)

def layoffs_fyi():
    sql = '''  
    SELECT 
    date(date) as date,
    company,
    employees_laid_off,
    concat(cast(round(percent_laid_off*100,2) as string),"%") as percent_laid_off,
    datamachine_load_time
    FROM `datamachine-407200.macro.layoffs_fyi`
    WHERE datamachine_load_time = (select max(datamachine_load_time) from `datamachine-407200.macro.layoffs_fyi`)
    ORDER BY date desc
    '''
    df = client.query(sql).to_dataframe()
    df['employees_laid_off'] = df['employees_laid_off'].fillna('')
    return df
layoffs_fyi()

,date,company,employees_laid_off,percent_laid_off,datamachine_load_time
0,2024-05-22,Cue Health,180.0,100%,2024-05-23 08:48:16.325507
1,2024-05-22,Guild,300.0,25%,2024-05-23 08:48:16.325507
2,2024-05-19,Joonko,,100%,2024-05-23 08:48:16.325507
3,2024-05-16,SeekOut,,30%,2024-05-23 08:48:16.325507
4,2024-05-16,Gopuff,,6%,2024-05-23 08:48:16.325507
...,...,...,...,...,...
3613,2020-03-16,Inspirato,130.0,22%,2024-05-23 08:48:16.325507
3614,2020-03-13,Panda Squad,6.0,75%,2024-05-23 08:48:16.325507
3615,2020-03-13,HopSkipDrive,8.0,10%,2024-05-23 08:48:16.325507
3616,2020-03-12,Tamara Mellon,20.0,40%,2024-05-23 08:48:16.325507
3617,2020-03-11,EasyPost,75.0,None,2024-05-23 08:48:16.325507

In [3]:
def loopnet_usd_sqft():
    try:
        sql = '''
        select * from `datamachine-407200.commercial_real_estate.loopnet_agg`
        '''
        with bigquery.Client(credentials=credentials) as client:
            data = client.query(sql).to_dataframe()
            data['sum_min_size_sqft'] = data['sum_min_size_sqft'].astype(float).replace({0: np.NaN})
            data['avg_usd_sqft_yr'] = data['avg_usd_sqft_yr'].astype(float).replace({0: np.NaN})
            data['avg_usd_yr'] = data['avg_usd_yr'].astype(float).replace({0: np.NaN})
            data['datamachine_load_time'] = pd.to_datetime(data['datamachine_load_time'])
            data = data.drop_duplicates()
            df = data.groupby(['formatted_address','datamachine_load_time'])['avg_usd_sqft_yr'].last().reset_index().pivot(index='datamachine_load_time', columns='formatted_address', values='avg_usd_sqft_yr').resample('D').mean()
            df['average'] = df.mean(axis=1)
            df = df.bfill().transpose().dropna(axis=0).apply(lambda x: np.round(x,2))
            df.columns = df.columns.strftime('%Y-%m-%d')
            df = df.sort_values (by=df.columns[-1],ascending=False).reset_index()
            df = df.rename(columns={'formatted_address':'address'})
            df = df.set_index('address')
        return df
    except Exception as e:
        return str(e)

loopnet_usd_sqft()

datamachine_load_time,2024-02-27,2024-02-28,2024-02-29,2024-03-01,2024-03-02,2024-03-03,2024-03-04,2024-03-05,2024-03-06,2024-03-07,...,2024-05-15,2024-05-16,2024-05-17,2024-05-18,2024-05-19,2024-05-20,2024-05-21,2024-05-22,2024-05-23,2024-05-24
address,,,,,,,,,,,,,,,,,,,,,
"22 8th Ave, New York, NY 10014, USA",420.00,420.00,420.00,420.00,420.00,420.00,420.00,420.00,420.00,420.00,...,420.00,420.00,420.00,420.00,420.00,420.00,420.00,420.00,420.00,420.00
"1100 Madison Ave, New York, NY 10028, USA",379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,...,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45,379.45
"1175 Lexington Ave, New York, NY 10028, USA",299.00,299.00,299.00,299.00,299.00,299.00,299.00,299.00,299.00,299.00,...,255.00,255.00,255.00,255.00,255.00,255.00,255.00,255.00,255.00,255.00
"292 Bedford Ave, Brooklyn, NY 11249, USA",240.00,240.00,240.00,240.00,240.00,240.00,240.00,240.00,240.00,240.00,...,240.00,240.00,240.00,240.00,240.00,240.00,240.00,240.00,240.00,240.00
"98 Thompson St #100, New York, NY 10012, USA",230.00,230.00,230.00,230.00,230.00,230.00,230.00,230.00,230.00,230.00,...,230.00,230.00,230.00,230.00,230.00,230.00,230.00,230.00,230.00,230.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"109 35th St #111, Union City, NJ 07087, USA",17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,...,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00
"391-401 Concord Ave, Bronx, NY 10454, USA",17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,...,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00
"6006 Polk St, West New York, NJ 07093, USA",16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00,...,16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00
"2004 New York Ave, Union City, NJ 07087, USA",15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,...,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00
"1627 Park Ave, New York, NY 10029, USA",1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [4]:
def loopnet_sqft():
    try:
        sql = '''
        select * from `datamachine-407200.commercial_real_estate.loopnet_agg`
        '''
        with bigquery.Client(credentials=credentials) as client:
            data = client.query(sql).to_dataframe()
            data['sum_min_size_sqft'] = data['sum_min_size_sqft'].astype(float).replace({0: np.NaN})
            data['avg_usd_sqft_yr'] = data['avg_usd_sqft_yr'].astype(float).replace({0: np.NaN})
            data['avg_usd_yr'] = data['avg_usd_yr'].astype(float).replace({0: np.NaN})
            data['datamachine_load_time'] = pd.to_datetime(data['datamachine_load_time'])
            data = data.drop_duplicates()
            df = data.groupby(['formatted_address','datamachine_load_time'])['sum_min_size_sqft'].last().reset_index().pivot(index='datamachine_load_time', columns='formatted_address', values='sum_min_size_sqft').resample('D').mean()
            df['average'] = df.mean(axis=1)
            df = df.bfill().transpose().dropna(axis=0).apply(lambda x: np.round(x,2))
            df.columns = df.columns.strftime('%Y-%m-%d')
            df = df.sort_values (by=df.columns[-1],ascending=False).reset_index()
            df = df.rename(columns={'formatted_address':'address'})
            df = df.set_index('address')
            df['lifetime_diff'] = df[df.columns[-1]] - df[df.columns[0]]
            df['diff_latest'] = df[df.columns[-2]] - df[df.columns[-3]]
        return df
    except Exception as e:
        return str(e)
    
df = loopnet_sqft()
df

datamachine_load_time,2024-02-27,2024-02-28,2024-02-29,2024-03-01,2024-03-02,2024-03-03,2024-03-04,2024-03-05,2024-03-06,2024-03-07,...,2024-05-17,2024-05-18,2024-05-19,2024-05-20,2024-05-21,2024-05-22,2024-05-23,2024-05-24,lifetime_diff,diff_latest
address,,,,,,,,,,,,,,,,,,,,,
"Starrett-Lehigh Building, 601 W 26th St, New York, NY 10001, USA",674657.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,...,731954.0,731954.0,731954.0,731954.0,731954.0,731954.0,731954.0,731954.0,57297.0,0.0
"30th St, Queens, NY, USA",717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,...,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,-82105.0,0.0
"3 Times Sq, New York, NY 10036, USA",362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,...,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,0.0,0.0
"340 Madison Ave, New York, NY 10173, USA",288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,...,276239.0,276239.0,276239.0,276239.0,276239.0,276239.0,276239.0,276239.0,-12459.0,0.0
"32 Old Slip, New York, NY 10005, USA",202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,...,199235.0,199235.0,199235.0,199235.0,199235.0,199235.0,199235.0,199235.0,-3667.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"75 Broad St, New York, NY 10004, USA",125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,...,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,13.0,0.0
"666 3rd Ave, New York, NY 10017, USA",100.0,116268.0,116268.0,116268.0,116268.0,116268.0,116268.0,116268.0,116268.0,116268.0,...,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,2.0,0.0
"360 Wythe Ave, Brooklyn, NY 11249, USA",57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,...,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0,0.0,0.0
"150 Greenwich St, New York, NY 10006, USA",50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,0.0,0.0
"37-29 31st St, Long Island City, NY 11101, USA",2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,0.0

In [5]:
df.head(50).sort_values(by='diff_latest',ascending=True)

datamachine_load_time,2024-02-27,2024-02-28,2024-02-29,2024-03-01,2024-03-02,2024-03-03,2024-03-04,2024-03-05,2024-03-06,2024-03-07,...,2024-05-17,2024-05-18,2024-05-19,2024-05-20,2024-05-21,2024-05-22,2024-05-23,2024-05-24,lifetime_diff,diff_latest
address,,,,,,,,,,,,,,,,,,,,,
"Starrett-Lehigh Building, 601 W 26th St, New York, NY 10001, USA",674657.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,717277.0,...,731954.0,731954.0,731954.0,731954.0,731954.0,731954.0,731954.0,731954.0,57297.0,0.0
"33-00 47th Ave, Long Island City, NY 11101, USA",55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,...,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,55680.0,0.0,0.0
"1001 6th Ave, New York, NY 10018, USA",54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,...,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,54655.0,0.0,0.0
"30 W 26th St, New York, NY 10010, USA",51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,51544.0,...,51444.0,51444.0,51444.0,51444.0,51444.0,51444.0,51444.0,51444.0,-100.0,0.0
"40-9 21st St, Long Island City, NY 11101, USA",48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,...,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,48129.0,0.0,0.0
"106 W 56th St, New York, NY 10019, USA",43817.0,43817.0,43817.0,43817.0,43817.0,43817.0,43817.0,43817.0,43817.0,43817.0,...,46868.0,46868.0,46868.0,46868.0,46868.0,46868.0,46868.0,46868.0,3051.0,0.0
"667 Madison Ave, New York, NY 10065, USA",42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,...,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,42629.0,0.0,0.0
"300 Park Ave, New York, NY 10022, USA",74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,74370.0,...,42120.0,42120.0,42120.0,42120.0,42120.0,42120.0,42120.0,42120.0,-32250.0,0.0
"41 E 11th St, New York, NY 10003, USA",40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,...,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,0.0,0.0
"6 W 48th St, New York, NY 10036, USA",49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,49500.0,...,38500.0,38500.0,38500.0,38500.0,38500.0,38500.0,38500.0,38500.0,-11000.0,0.0
"333 W 52nd St, New York, NY 10019, USA",37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,37373.0,...,36692.0,36692.0,36692.0,36692.0,36692.0,36692.0,36692.0,36692.0,-681.0,0.0
"33-22 Northern Blvd, Long Island City, NY 11101, USA",35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,...,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,0.0,0.0
"159 E 125th St, New York, NY 10035, USA",26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,26026.0,...,34853.0,34853.0,34853.0,34853.0,34853.0,34853.0,34853.0,34853.0,8827.0,0.0
"251 W 30th St, New York, NY 10001, USA",36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,36504.0,...,31572.0,31572.0,31572.0,31572.0,31572.0,31572.0,31572.0,31572.0,-4932.0,0.0
"115 E 23rd St, New York, NY 10010, USA",36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,36840.0,...,30700.0,30700.0,30700.0,30700.0,30700.0,30700.0,30700.0,30700.0,-6140.0,0.0
"113 University Pl, New York, NY 10003, USA",19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,19500.0,...,26000.0,26000.0,26000.0,26000.0,26000.0,26000.0,26000.0,26000.0,6500.0,0.0
"37-18 Northern Blvd, Long Island City, NY 11101, USA",25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,...,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,25830.0,0.0,0.0
"15 Maiden Ln, New York, NY 10038, USA",19985.0,19985.0,19985.0,17600.0,17600.0,17600.0,17600.0,17600.0,17600.0,17600.0,...,25380.0,25380.0,25380.0,25380.0,25380.0,25380.0,25380.0,25380.0,5395.0,0.0
"236 Greenpoint Ave, Brooklyn, NY 11222, USA",25140.0,25140.0,25140.0,25140.0,25140.0,25140.0,25140.0,25140.0,25140.0,25140.0,...,25140.0,25140.0,25140.0,25140.0,25140.0,25140.0,25140.0,25140.0,0.0,0.0
"44-50 W 28th St, New York, NY 10001, USA",36249.0,36249.0,36249.0,36249.0,36249.0,36249.0,36249.0,36249.0,36249.0,36249.0,...,24166.0,24166.0,24166.0,24166.0,24166.0,24166.0,24166.0,24166.0,-12083.0,0.0
"369 Lexington Ave, New York, NY 10016, USA",27335.0,27335.0,27335.0,27335.0,27335.0,27335.0,27335.0,27335.0,27335.0,27335.0,...,23585.0,23585.0,23585.0,23585.0,23585.0,23585.0,23585.0,23585.0,-3750.0,0.0
"494 8th Ave, New York, NY 10123, USA",23525.0,23525.0,23525.0,23525.0,23525.0,23525.0,23525.0,23525.0,23525.0,23525.0,...,23525.0,23525.0,23525.0,23525.0,23525.0,23525.0,23525.0,23525.0,0.0,0.0
"156 5th Ave, New York, NY 10010, USA",42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,42100.0,...,48100.0,48100.0,48100.0,56600.0,56600.0,56600.0,56600.0,56600.0,14500.0,0.0
"501 5th Ave, New York, NY 10017, USA",26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,26447.0,...,26569.0,23101.0,23101.0,23101.0,23101.0,23101.0,23101.0,23101.0,-3346.0,0.0
"21-07 41st Ave, Long Island City, NY 11101, USA",38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,38066.0,...,61610.0,61610.0,61610.0,61610.0,61610.0,61610.0,61610.0,61610.0,23544.0,0.0
"Broadway & W 233rd St, Bronx, NY 10463, USA",61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,...,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,61936.0,0.0,0.0
"30th St, Queens, NY, USA",717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,717441.0,...,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,635336.0,-82105.0,0.0
"3 Times Sq, New York, NY 10036, USA",362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,...,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,362296.0,0.0,0.0
"340 Madison Ave, New York, NY 10173, USA",288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,288698.0,...,276239.0,276239.0,276239.0,276239.0,276239.0,276239.0,276239.0,276239.0,-12459.0,0.0
"32 Old Slip, New York, NY 10005, USA",202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,202902.0,...,199235.0,199235.0,199235.0,199235.0,199235.0,199235.0,199235.0,199235.0,-3667.0,0.0
"3 2nd St, Jersey City, NJ 07302, USA",119611.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,...,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,156007.0,36396.0,0.0
"250 Broadway, New York, NY 10007, USA",154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,...,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,154410.0,0.0,0.0
"225 Broadway, New York, NY 10007, USA",145192.0,133047.0,133047.0,133047.0,133047.0,133047.0,144817.0,144817.0,144817.0,144817.0,...,147467.0,147467.0,147467.0,147467.0,147467.0,147467.0,147467.0,147467.0,2275.0,0.0
"161 6th Ave, New York, NY 10013, USA",30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,30064.0,...,139400.0,139400.0,139400.0,139400.0,139400.0,139400.0,139400.0,139400.0,109336.0,0.0
"285 Fulton St, New York, NY 10007, USA",143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,143331.0,...,132527.0,132527.0,132527.0,132527.0,132527.0,132527.0,132527.0,132527.0,-10804.0,0.0
"250 W 39th St, New York, NY 10018, USA",55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,55438.0,...,63562.0,63562.0,63562.0,63562.0,63562.0,63562.0,61933.0,61933.0,6495.0,0.0
"75 Rockefeller Plaza, 75 Rockefeller Plaza, New York, NY 10104, USA",126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,126789.0,...,126825.0,126825.0,126825.0,126825.0,126825.0,126825.0,126825.0,126825.0,36.0,0.0
"29 Broadway, New York, NY 10006, USA",109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,...,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,109517.0,0.0,0.0
"39 Broadway, New York, NY 10006, USA",97953.0,97953.0,97953.0,97953.0,97953.0,97953.0,97953.0,97953.0,101597.0,101597.0,...,104628.0,104628.0,104628.0,104628.0,104628.0,104628.0,104628.0,104628.0,6675.0,0.0
"122 E 42nd St, New York, NY 10168, USA",102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,102238.0,...,101897.0,101897.0,101897.0,101897.0,101897.0,101897.0,101897.0,101897.0,-341.0,0.0
"230 Park Ave, New York, NY 10169, USA",96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,96676.0,...,94944.0,94944.0,94944.0,94944.0,94944.0,94944.0,94944.0,94944.0,-1732.0,0.0
"150 W 30th St, New York, NY 10001, USA",96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,96957.0,...,89657.0,89657.0,89657.0,89657.0,89657.0,89657.0,89657.0,89657.0,-7300.0,0.0
"521 W 57th St, New York, NY 10019, USA",78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,...,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,78464.0,0.0,0.0
"One Battery Park Plaza, 1 Battery Pl, New York, NY 10004, USA",40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,40477.0,...,50598.0,50598.0,50598.0,50598.0,77379.0,77379.0,77379.0,77379.0,36902.0,0.0
"111 John St, New York, NY 10038, USA",83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,83236.0,...,77146.0,77146.0,77146.0,77146.0,77146.0,77146.0,77146.0,77146.0,-6090.0,0.0
"33-02 Skillman Ave, Long Island City, NY 11101, USA",77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,...,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,77036.0,0.0,0.0
"42 Broadway, New York, NY 10004, USA",114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,...,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,114258.0,0.0,0.0
"315 Madison Ave, New York, NY 10017, USA",20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,20980.0,...,23041.0,23041.0,23041.0,23041.0,23041.0,23041.0,23041.0,23041.0,2061.0,0.0
"1270 6th Ave, New York, NY 10020, USA",138302.0,138302.0,138302.0,138302.0,138302.0,138302.0,138302.0,138302.0,138302.0,140473.0,...,134515.0,134515.0,134515.0,134515.0,134515.0,134515.0,134515.0,136153.0,-2149.0,1638.0
"1 Park Pl, New York, NY 10007, USA",23148.0,23148.0,23148.0,23148.0,23148.0,23148.0,23148.0,23148.0,23148.0,23148.0,...,23130.0,23130.0,23130.0,23130.0,23130.0,23130.0,23130.0,37310.0,14162.0,14180.0