In [13]:
import os
from google.oauth2 import service_account
from google.cloud import bigquery
import pandas as pd
# credentials = service_account.Credentials.from_service_account_info(
#     os.environ["GCP_SA"]
# )

In [2]:
import os
from google.oauth2 import service_account
from google.cloud import bigquery

credentials = service_account.Credentials.from_service_account_info(
    os.environ["GCP_SA"]
)
client = bigquery.Client(project = 'datamachine-407200')

def layoffs_fyi():
    sql = '''  
    SELECT 
    date(date) as date,
    company,
    employees_laid_off,
    concat(cast(round(percent_laid_off*100,2) as string),"%") as percent_laid_off,
    datamachine_load_time
    FROM `datamachine-407200.macro.layoffs_fyi`
    WHERE datamachine_load_time = (select max(datamachine_load_time) from `datamachine-407200.macro.layoffs_fyi`)
    ORDER BY date desc
    '''
    with bigquery.Client(project = 'datamachine-407200') as client:
        df = client.query(sql).to_dataframe()
    return df

KeyError: 'GCP_SA'

In [3]:
text_ = {   "type": "service_account",   "project_id": "datamachine-407200",   "private_key_id": "414d2e4e95eeee8ca69747ce46f2b9c3c1a7015c",   "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCeBRYhWxEfSCo8\n3+KKsiLdzSmOhvMZlRqtYrTzV2MWwQupx03z2VY8552KkVUjj2OUhPqgjed9mky2\nblwSwrg4s0/bBvHtZHj4eJhiXevVsjLwqt5ZbX1ZMf/yIcay3yXdgwxbjl/dOmgR\nN9NdPX5oG0+IuevoIKxpRuAXWUJGBrRN0/xWF0vvb9Vyp5DuCb+YmLbB+v2Ei9Rl\ndOHEtEvfctEvPduaDvQLE5ARfuTUhFYBCWYlneRQLttD+ooAgrMPpDN59yuRue8o\nYYgEm8Lj//M6i5PoFHU+aabcpiHDVnaU3RB8B8ZNt4WPQZP8KxNr8HIt4T6rDylg\nUjl1wW3PAgMBAAECggEARf2yw6t2dgiczMHNsekdEGkjEwIrAxXL7yhdRbtbJGT1\nKYohuPR3AhsE6K9eqpWEYfBUonC4LCX//H39QkIFHvgtUrJMzf1Gp6eit08qekin\nz3mfarTYZH2FBFZ5kBjOyMKW4qa5R1/rYFT9xbrLFomiPMk8+GAgfbDq6OycMi9r\nU3hZTxtTVac3vgVva+JyZK6uhYQJYxn6mIfGVXvUUHChglzzb47DYr/4wQM+lwD5\nTGeD/a+JJRNRvF1wIkdf/tCSIug0+1SmSfLn0pGEZLh8ovqI9u6IQUnTjOrVJy1O\nBe4uiBPeVZkRQoLsIXD0/mBpOT0B+5auPv/o2ftYwQKBgQDZHfvyJrkpiZPe/ABq\nVhrWRImWmxvdLJB8KYlzQTYDkm66wgG62U/jOqJ/fM3Y5RRErJXmCjReacWX1u1k\nag8nnJMpZ/ij7XCGSP+CEYhIIU6ZJ6ChTKT102+kbgE6BFoGPbl8eywW5hj3/E+e\neu9Lmf+R2M/jfsLa8GsP9r1LiQKBgQC6UbZGBLaM7HN2SzeqO6JOeR/+ozuzdBE8\nfBoBo9KTrxNhXMZBBrcROWTvIVaRA01aaQKT2eiHKiM3FQJQBw69hcIMHvSMMktw\n/51psqZYB2c5crM/Nt4GhxLNJAyQYl0583tOYiEEX1WuqrhCTE87SQVyJmCqAqGE\niT9jr3LglwKBgQC4/RownRvAr27lW7OC5rBhBe5w+uGH1jOZBs8M+2/pJTfhOfG9\nYPD3O3s+wnilJ7HYPXBOmz05gEeR8tc7aj5VUsv0SJkKGwF3+PRyvzttsatFRQVQ\nyXv309nYsL2s0A5gKPFEhbHwJMb7a+fusPH4aVLe0mt2ewfNAXFHHcT1eQKBgAYx\n31CWqYcn+XLOb2xejTf0uQabYMnHqycKrUaurrqwUIGlNwZEdePBt8RnpFwv8ut1\noFtQHHYaBY+4SBpnEatlfh0vDkx3A6EfLpmsEfHNVTZIxQLuDRXEefCOKUjHrHfX\ny5rAkn51uQCUtomlxeCfvemcswwUCFDCy3PCCpzDAoGBALIpq8nIKdpukk/7SFhp\n4+l1oUgW8XRGv6hpYX4Y5pBsjCJi+hYz9y8UGN2ExAYKSYfzteQRkscPlgQ/J+Go\neJkzIfNVNepY7gI5n5qc5DVXU6G/6Bm9KZEWAMoDiBj54PkXotnwtEoRcKQG5Vt9\nlDXXvnxzpH1j//x9BSZFZktt\n-----END PRIVATE KEY-----\n",   "client_email": "streamlit-datamachine@datamachine-407200.iam.gserviceaccount.com",   "client_id": "101039704290156623568",   "auth_uri": "https://accounts.google.com/o/oauth2/auth",   "token_uri": "https://oauth2.googleapis.com/token",   "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",   "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/streamlit-datamachine%40datamachine-407200.iam.gserviceaccount.com",   "universe_domain": "googleapis.com" }

credentials = service_account.Credentials.from_service_account_info(
    text_
)
client = bigquery.Client(credentials=credentials)
def layoffs_fyi():
    sql = '''  
    SELECT 
    date(date) as date,
    company,
    employees_laid_off,
    concat(cast(round(percent_laid_off*100,2) as string),"%") as percent_laid_off,
    datamachine_load_time
    FROM `datamachine-407200.macro.layoffs_fyi`
    WHERE datamachine_load_time = (select max(datamachine_load_time) from `datamachine-407200.macro.layoffs_fyi`)
    ORDER BY date desc
    '''
    df = client.query(sql).to_dataframe()
    return df

In [4]:
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy import text
text_ = {   "type": "service_account",   "project_id": "datamachine-407200",   "private_key_id": "414d2e4e95eeee8ca69747ce46f2b9c3c1a7015c",   "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCeBRYhWxEfSCo8\n3+KKsiLdzSmOhvMZlRqtYrTzV2MWwQupx03z2VY8552KkVUjj2OUhPqgjed9mky2\nblwSwrg4s0/bBvHtZHj4eJhiXevVsjLwqt5ZbX1ZMf/yIcay3yXdgwxbjl/dOmgR\nN9NdPX5oG0+IuevoIKxpRuAXWUJGBrRN0/xWF0vvb9Vyp5DuCb+YmLbB+v2Ei9Rl\ndOHEtEvfctEvPduaDvQLE5ARfuTUhFYBCWYlneRQLttD+ooAgrMPpDN59yuRue8o\nYYgEm8Lj//M6i5PoFHU+aabcpiHDVnaU3RB8B8ZNt4WPQZP8KxNr8HIt4T6rDylg\nUjl1wW3PAgMBAAECggEARf2yw6t2dgiczMHNsekdEGkjEwIrAxXL7yhdRbtbJGT1\nKYohuPR3AhsE6K9eqpWEYfBUonC4LCX//H39QkIFHvgtUrJMzf1Gp6eit08qekin\nz3mfarTYZH2FBFZ5kBjOyMKW4qa5R1/rYFT9xbrLFomiPMk8+GAgfbDq6OycMi9r\nU3hZTxtTVac3vgVva+JyZK6uhYQJYxn6mIfGVXvUUHChglzzb47DYr/4wQM+lwD5\nTGeD/a+JJRNRvF1wIkdf/tCSIug0+1SmSfLn0pGEZLh8ovqI9u6IQUnTjOrVJy1O\nBe4uiBPeVZkRQoLsIXD0/mBpOT0B+5auPv/o2ftYwQKBgQDZHfvyJrkpiZPe/ABq\nVhrWRImWmxvdLJB8KYlzQTYDkm66wgG62U/jOqJ/fM3Y5RRErJXmCjReacWX1u1k\nag8nnJMpZ/ij7XCGSP+CEYhIIU6ZJ6ChTKT102+kbgE6BFoGPbl8eywW5hj3/E+e\neu9Lmf+R2M/jfsLa8GsP9r1LiQKBgQC6UbZGBLaM7HN2SzeqO6JOeR/+ozuzdBE8\nfBoBo9KTrxNhXMZBBrcROWTvIVaRA01aaQKT2eiHKiM3FQJQBw69hcIMHvSMMktw\n/51psqZYB2c5crM/Nt4GhxLNJAyQYl0583tOYiEEX1WuqrhCTE87SQVyJmCqAqGE\niT9jr3LglwKBgQC4/RownRvAr27lW7OC5rBhBe5w+uGH1jOZBs8M+2/pJTfhOfG9\nYPD3O3s+wnilJ7HYPXBOmz05gEeR8tc7aj5VUsv0SJkKGwF3+PRyvzttsatFRQVQ\nyXv309nYsL2s0A5gKPFEhbHwJMb7a+fusPH4aVLe0mt2ewfNAXFHHcT1eQKBgAYx\n31CWqYcn+XLOb2xejTf0uQabYMnHqycKrUaurrqwUIGlNwZEdePBt8RnpFwv8ut1\noFtQHHYaBY+4SBpnEatlfh0vDkx3A6EfLpmsEfHNVTZIxQLuDRXEefCOKUjHrHfX\ny5rAkn51uQCUtomlxeCfvemcswwUCFDCy3PCCpzDAoGBALIpq8nIKdpukk/7SFhp\n4+l1oUgW8XRGv6hpYX4Y5pBsjCJi+hYz9y8UGN2ExAYKSYfzteQRkscPlgQ/J+Go\neJkzIfNVNepY7gI5n5qc5DVXU6G/6Bm9KZEWAMoDiBj54PkXotnwtEoRcKQG5Vt9\nlDXXvnxzpH1j//x9BSZFZktt\n-----END PRIVATE KEY-----\n",   "client_email": "streamlit-datamachine@datamachine-407200.iam.gserviceaccount.com",   "client_id": "101039704290156623568",   "auth_uri": "https://accounts.google.com/o/oauth2/auth",   "token_uri": "https://oauth2.googleapis.com/token",   "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",   "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/streamlit-datamachine%40datamachine-407200.iam.gserviceaccount.com",   "universe_domain": "googleapis.com" }

engine = create_engine('bigquery://', credentials_info=text_)
engine

Engine(bigquery://)

In [9]:
def layoffs_fyi():
    sql = '''  
    SELECT 
    date(date) as date,
    company,
    employees_laid_off,
    concat(cast(round(percent_laid_off*100,2) as string),"%") as percent_laid_off,
    datamachine_load_time
    FROM `datamachine-407200.macro.layoffs_fyi`
    WHERE datamachine_load_time = (select max(datamachine_load_time) from `datamachine-407200.macro.layoffs_fyi`)
    ORDER BY date desc
    '''
    with engine.begin() as conn:
        df = conn.execute(text(sql)).fetchall()
    return df

In [10]:
df = layoffs_fyi()

In [14]:
pd.DataFrame(df)

               0              1       2     3                           4
0     2024-03-28        ChowNow    60.0   20%  2024-03-30 19:50:17.025706
1     2024-03-26       Synctera    17.0   15%  2024-03-30 19:50:17.025706
2     2024-03-25           Dell  6000.0    5%  2024-03-30 19:50:17.025706
3     2024-03-22         Verily     NaN  None  2024-03-30 19:50:17.025706
4     2024-03-20     Cybereason     NaN  None  2024-03-30 19:50:17.025706
...          ...            ...     ...   ...                         ...
3519  2020-03-16      Inspirato   130.0   22%  2024-03-30 19:50:17.025706
3520  2020-03-13    Panda Squad     6.0   75%  2024-03-30 19:50:17.025706
3521  2020-03-13   HopSkipDrive     8.0   10%  2024-03-30 19:50:17.025706
3522  2020-03-12  Tamara Mellon    20.0   40%  2024-03-30 19:50:17.025706
3523  2020-03-11       EasyPost    75.0  None  2024-03-30 19:50:17.025706

[3524 rows x 5 columns]